@tailwind base;
@tailwind components;
@tailwind utilities;



a.active {
    cursor: pointer;
    color: white;
    background: -webkit-linear-gradient(240deg, #bd22ffc5 20%, #ff279c 50%, #ff8800 80%);
    background-size: 200% 100%;
    background-position: 90% 0;
    transition: background-position .5s;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border: 0;
    padding-top: 5px ;
    padding-bottom: 5px ;

}
.menu a:hover {
    background: -webkit-linear-gradient(240deg, #bd22ffc5 20%, #ff279c 50%, #ff8800 80%);
}

.menu a{
    margin: 0px 5px;
}
.menu-one a{
    margin: 5px 0px;
}
a.active:hover{
    background-position: 0 0;
    border: 0;
}

.bgGradient {
    background-image: linear-gradient(45deg, #0d0a2c 0%, #0032ef 11%, #ff3370 56%, #1ac7ff 99%, #1ac7ff 100%);
}

.bgGlash {
    color: white;
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.bgGlash:hover {
    color: white;
    background: rgba(38, 55, 100, 0.425);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border: 1px solid rgba(38, 55, 100, 0.425);
}

.inputbg {
    color: white;
    background: rgba(38, 55, 100, 0.425);
    border: 1px solid rgba(38, 55, 100, 0.425);
}
.loginbg{
    color: white;
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.15);
}
.cardbg{
    color: white;
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.inputbtn {
    color: white;
    background: rgba(38, 55, 100, 0.425);
    border: 1px solid rgba(38, 55, 100, 0.425);
}

.inputbtn:hover {
    color: white;
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.navbar a:hover {
    color: white;
}

.text-gradient {
    background: -webkit-linear-gradient(0deg, #be22ff 20%, #ff279c 50%, #ff981f 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.text-gradient-heading {
    background: -webkit-linear-gradient(0deg, #34ff22 10%, #dbff00 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.text-gradient-title {
    background: -webkit-linear-gradient(146deg, #ff279c 50%, #ff981f 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.gradient-bg {
    cursor: pointer;
    color: white;
    background: -webkit-linear-gradient(240deg, #bd22ffc5 20%, #ff279c 50%, #ff8800 80%);
    background-size: 200% 100%;
    background-position: 90% 0;
    transition: background-position .5s;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border: 0;
}



.gradient-bg:hover {
    background-position: 0 0;
    border: 0;

}




